.parallax {
    height: auto;
    background-attachment: fixed;
    width: 100% !important;
    background-size: 123% !important;
    margin-bottom: 0px;
    background-position: 50% -25% !important;
}

/*.parallax .website_sectioncontent {
	display:none;
}*/

.parallax_big{
	height: auto !important;	
}